*{
      font-family: 'Times New Roman', Times, serif;
}
html{
    background-color: #cccccc;
    /* height: 3000px; */

}
body{
        margin-bottom:20px ;
}
 /*Form create messagem */
 #tituleFormCreate{
    position: absolute;
    top: -30%;
    width: 45%;
    left: 200px;
    padding: 10px 20px 10px 20px ;
    background-color: #007bff;
    color: #ffffff;
    font-size: larger;
    border-radius: 10px;
}
#editFormCreateMessage {
    position: absolute;
    display: block;
    left: 160px;
    top:80px;
}
#positionFormMessage{
    position: absolute;
    top: 50px;
    left: 5%;
    height: 45%;
    width: 60%;
    background-color: #ffffff;
    border-radius: 10px;
    /* display: none; */
}
#labelnameFormMessage, #labelEmailFormMessage , #labelSubjectFormMessage{
    position: absolute;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 18px;
}
#labelnameFormMessage {
    top: 10px;
    left: -20px;
}
#labelEmailFormMessage {
    top: 63px;
    left: -20px;
    
}
#labelSubjectFormMessage{
    position: relative;
    top: 10px;
    left: -5%;
}
#inputnameFormMesssage ,#inputemailFormMessage , #inputSubjectFormMessage {
    position: relative;
    left: 120px;
}

#inputemailFormMessage {
    top: 1px;
    left: 120px;
}

#inputSubjectFormMessage {
    left: 32%;
    top: -30px;
    
}
#editButtonFormMessage {
    position: absolute;
    left: 85%;
    top: 170px;
    background-color: #38d46c;
    color: #fff;
    padding: 10px 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



/*show message in table */



th {
    display: flex;
    padding-right: 230px;
}

tr {
    position: relative;
    display: flex;
}

label {
    display: block;
    margin-bottom: 16px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#editTituleTable {
    position: absolute;
    top: 55%;
    left: 15%;
    display: flex;
    width: 15%;
    
}


#editTitleName , #editTitleEmail , #editSubjectTitle {
    position: absolute;
    left: -57%;
    top: 70px;
    padding: 10px;
    padding-right: 80px;
    width: 200%;
    /* padding-left: 80px; */
    border-radius: 5px;
    background-color:#007bff;
    /* border: solid 1px #000000; */
    color: #000000;
    /* display: none; */
}

#editTitleEmail {
    position: absolute;
    left: 150%;
    top: 70px;
    width: 195%;
}

#editSubjectTitle {
    position: relative;
    left: 381%;
    top: 70px;
    padding-right: 240px;
}

#editData {
    position: relative;
    height: 20px;
    padding: 60px;
    top: 00px;
    left: 2%;
 
    border-radius: 30px;

}
table{
    position: relative;
    top: 550px;
    left: 90px;
    margin-bottom: 20px;
    border-spacing: 10;
    width: 88%;
background-color: #e2e2e2;
border: solid 3px #c3c3c3;

}

#editSubject {
    left: 74%;
    top: -30px;
    width: 25%;
    font-family: 'Courier New', Courier, monospace;
  
    /* display: none; */
}

#editName {
    left: 1%;
    top: 8px;
    width: 33%;
    font-family: 'Courier New', Courier, monospace;
    /* display: none; */
}

#editEmail {
    left: 32%;
    top: -10px;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;

}

#buttonDelete {
    position: relative;
    left: 93%;
    top: -5px;
    border-radius: 30px;
    border: none;
    background-color: #ff7676;
    color: white;
    opacity: 80%;
    padding: 5px 10px;
    
}

#Update{
    position: relative;
    left: 93%;
    top: -65px;
    border-radius: 30px;
    border: none;
    background-color: #38d46c;
    color: rgb(255, 255, 255);
    opacity: 80%;
    padding: 5px 10px;
}






   /*form login e register */


.tituleScreenLogin,.tituleScreenRegister{
    position: absolute;
    left: 39%;
    height: 45%;
    top: 20%;
    width: 25%;
    background-color: #ffffff;
    border-radius: 30px;
    opacity: 60%;
    
}

#styleScreenLogin , #styleScreenRegister {
    position: relative;
    top: 25px;
    left: 115px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 20px 10px 20px ;
    background-color: #007bff;
    color: #ffffff;
    font-size: larger;
    border-radius: 25px;

}
#styleFormLogin, #styleFormRegister{
    position: absolute;
    left: 40%;
    width: 15%;
    top: 25%;
    
}
#labelEmailLogin , #labelEmailRegister{
    position: relative;
    top: 80px;
    font-weight: 100;
font-size: larger;
 letter-spacing: 4px;
    font-family:'Times New Roman', Times, serif;
}
#inputEmailLogin , #inputEmailRegister{
    position:relative;
    top: 40px;
    left: 70px;
    height: 7px;

}
#labelPasswordLogin , #labelPasswordRegister{
    position: relative;
    top: 40px;
    font-weight: 100;
font-size: larger;
 letter-spacing: 4px;
    font-family:'Times New Roman', Times, serif;
}
#inputPasswordLogin , #inputPasswordRegister{
    position:relative;
    top: 0px;
    left: 70px;
    height: 7px;
}
#buttonLogin , #buttonRegister , #buttonRegisterCancel{
    position: relative;
    left: 65%;
    border:none;
    top: 17px;
    padding: 15px;
    padding-right: 40px ;
    padding-left:40px ;
    background-color:#38d46c;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
}
#buttonRegisterCancel{
  left: 70%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ff7676;
}
#buttonRegisterLogin{
    position: absolute;
    left: 120%;
    top: 86%;
    border:none;
    padding: 14px;
    background-color:#38d46c;
    color: whitesmoke;
    padding-right: 8px ;
    padding-left:8px ;
    /* opacity: 70%; */
    border-radius: 10px;
    cursor: pointer;
}

#logout{
    position: absolute;
    top: -5px;
    left: 140%;
    border: none;
    background-color: #ff7676;
    opacity: 75%;
    padding:     5px 25px 5px 25px;
    font-size: 20px;
    color: whitesmoke;
    border-radius: 20px;
    cursor: pointer;
}


/* componente form Update */

#editFormUpdate{
    position: relative;
    left: 20%;
    top: -20px;
    height: 120px;
}

#inputNameUpdate ,#inputEmailUpdate , #inputSubjectlUpdate{
    position: relative;
    top: -40px;
    width: 500px;
    left: 70px;
    height: 10px;
    background-color: #cccccc;
}
#inputEmailUpdate{
    top: -80px;
}
#inputSubjectlUpdate{
    top: -120px;
}
#cancelFormUpdate , #UpdateDataForm{
    padding: 10px;
    border: none;
    border-radius: 10px;
    opacity: 80%;
}

#cancelFormUpdate{
    position: relative;
    top: -5px;
    left: 50%;
    background-color: #ff7676;
}
#UpdateDataForm{
    position: absolute;
    top: 135px;
    left: 36%;
    background-color: #38d46c;
}

#labelNameUpdate ,#labelEmailUpdate , #labelSubjectUpdate{
    position: relative;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 18px;
    top: 6px;
    
}
#labelEmailUpdate{
    top: -32px;
}
#labelSubjectUpdate{
    top: -72px;
}
#editErrRegister{
    position: absolute;
    padding: 20px;
    left: 45%;
    background-color: #ff7676;
    border-radius: 50px;
}
#editSuccess{
    position: absolute;
    padding: 20px;
    left: 45%;
    background-color: #38d46c;
    border-radius: 50px;

}
#StatusLogin{
    position: absolute;
    padding: 20px;
    left: 45%;
    background-color: #ff7676;
    border-radius: 50px;

}
#editUsers{
    position: relative;
    background-color: #cccccc;
    height: 1010px;
    z-index: 9;
}
#buttonUsuarios a{
    position: absolute;
text-decoration: none;   
  border: none;
    background-color: #ff7676;
    opacity: 75%;
    padding:     5px 25px 5px 25px;
    font-size: 20px;
    color: whitesmoke;
    border-radius: 20px;
    left: 80%;
    top: 47px;

}
#editPostionUsers{
    position: relative;
    top: 100px;
    display: flex;
    
    width: 450px;
    background-color: white;
border: solid 1px black;
border-radius: 20px;

}
#editBody{
    display: flex;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    
}
#hidden{
visibility: hidden;
}
#editNameUsers{
    position: absolute;
    left: 4%;
top: 60px;
font-size: 20px;
}
